body {
    background-color: var(--primario);
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav {
    width: 100%;
    position: absolute;
    height: 80px;
    background-color: var(--primario);
    top: 0;
    left: 0;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.068);
}

main {
    margin-top: 130px;
}

.cont-search-bar {
    height: 45px;
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.cont-search-input {
    width: 100%;
    height: 100%;
    background-color: var(--terciario);
    border-radius: 50px;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;
    overflow: hidden;
    border: transparent 2px solid;
    box-sizing: border-box;
    transition: 0.2s;
}

#search-input {
    grid-column: 2;
    border: none;
    outline: none;
    padding-left: 5px;
    padding-right: 10px;
    box-sizing: border-box;
    background-color: var(--terciario);
    color: var(--secundario);
}

#search-input::placeholder {
    color: var(--placeholder);
}

.search-btn {
    grid-column: 1;
    padding: 0;
    border: none;
    background-color: transparent;
    color: var(--secundario);
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background-color: var(--hover);
}

.btn:active {
    background-color: var(--terciario);
}

.cont-search-input:focus-within {
    border-color: var(--secundario);
}

.filter-btn {
    height: 45px;
    min-width: 45px;
    border-radius: 50px;
    border: none;
    background-color: var(--terciario);
    color: var(--secundario);
    cursor: pointer;
    margin-left: 10px;
    transition: 0.2s;
}

.cont-search-input::after {
    content: "";
}

.filter-btn-activated {
    border-radius: 0 50px 50px 0px;
    min-width: 55px;
    margin: 0;
}

.cont-search-input-activated {
    border-radius: 50px 0 0 50px;
}

#filter-btn-x-icon {
    display: none;
}

#filter-btn-filter-icon {
    display: block;
}